* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header .navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;

}


.logo img {
    height: 50px;
    width: 100%;
}

.border{
    border: 1px solid transparent;
    height: 100%;
    display: grid;
    place-items: center;

}

.border:hover{
    border: 1px solid white;
    cursor: pointer;
}

.add-first{
    font-size: 13.6px;
    color: #ccc6c6;

}

.add-second{
    font-size: 16px;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}


.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    outline: none;
    width: 60px;
    border-radius: 5px 0 0 5px;
}

.search-input{
    width: 100%;
    outline: none;
    border: none;
    text-indent: 10px;
}


.search-icon{
    width: 45px;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    color: black;
}

span{
    font-size: 12px;

}

.nav-second{
    font-size: 14px;
    font-weight: 800;
}

.nav-cart{
    font-size:14px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cart i{
    font-size: 30px;
}


/* ----- panel -----*/

.panel{
    display: flex;
    background-color: #222f3d;
    color: #f3f3f3;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.panel .panel-ops p{
    display: inline-flex;
    align-items: center;
    height:40px ;
    padding: 0 3px;
    margin-left: 15px;
}

.panel .panel-ops{
    width: 70%;
    font-size: 14px;
}

.panel-deals{
    padding: 0 3px;
    font-size: 14px;
    font-weight: 700;
}

.panel-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.panel-all i{
    color: white !important;
    font-size: 25px;
}

.hero-section{
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg{
    background-color: white;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.69);
}

.hero-msg a{
    color: #7aafe8;
    text-decoration: none;
    margin-left: 3px ;

}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    justify-content: space-evenly;

}



.box{
    height: 440px;
    width: 23%;
    padding:20px 15px ;
    background-color: white;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin: 16px 0;
}


.box-content{
    margin-left: 16px;
    margin-right: 16px;
}

.box-content p{
    color: #68a4b1;
}